footer-height = 100px
font-path ?= "assets/fonts"

// colors
greyish-brown = #4a4a4a
white = #ffffff
black = #000000
white-two = #e5e5e5
warm-grey = #9b9b9b
squash = #f5a623
macaroni-and-cheese = #f5bb42
white-three = #f4f4f4
pinkish-grey = #c1c1c1
white-four = #fafafa
white-57 = rgba(255, 255, 255, 0.57)
light-mustard = #f7c968
powder-blue = #bcd8fa
dark-sky-blue = #4a90e2
squash-two = #f1961c

.squash-txt
	color squash
.warm-grey-txt
	color warm-grey


// nav deco circles
deco-size = 640px
deco-width = 100px

// fonts
i-star = "\e907"
i-chevron = "\e906"
i-check = "\e900"
i-circle-arrow-left = "\e901"
i-circle-arrow-right = "\e902"
i-dislike = "\e903"
i-like = "\e904"
i-search = "\e905"
