// CTA 
section.section__cta
  .limit
    .cta__content
      p.txt Echa un vistazo a tu #[span.white-text marca,] tus #[span.white-text redes.] Analiza tus #[span.white-text competidores.]
      a.btn.btn-flat.btn--round.squash-txt.btn-large.white(href='#!') COMENZAR 
    img.graphic(src='assets/img/graphic.svg', alt='graphic')
    img.deco-squint(src='assets/img/deco-squint.svg', alt='Squint')
    
