@import '~nib/index'
@import '~jeet/styl/index'
@import '~rupture/rupture/index'

@import '../../common/styles/vars'
@import '../../common/styles/grid'

.section__instagram
	padding 30px 15px
	.limit
		clearfix()
